<% layout('../layout') -%>
<% block('title', "<title>用户列表</title>") -%>
<% block('scriptx', "<script src='/js/lib/require.js' data-main='/js/user/app.js'></script>") -%>
<div class="modal fade  ng-scope" id="modalCreate" tabindex="-1" role="dialog" aria-labelledby="createUserModalLabel" aria-hidden="true" style="margin-top: 120px;" modal-dialog>
    <div class="modal-dialog" style="margin-top: 80px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="createUserModalLabel">创建</h4>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <div class="input-group col-xs-12 bottom-gap">
                        <span class="input-group-addon addon-width-4 " style="width:95px; text-align:right;">姓名：</span>
                        <input class="form-control validator ng-pristine ng-invalid ng-invalid-required" validator="specialChar" id="txtCn" description="名称" required="required" type="text" ng-model="model.userName" />
                    </div>
                    <div class="input-group col-xs-12 bottom-gap">
                        <span class="input-group-addon addon-width-4 " style="width:95px; text-align:right;">密码：</span>
                        <input class="form-control validator ng-pristine ng-invalid ng-invalid-required" validator="specialChar" id="txtMail" description="密码" required="required" type="text" ng-model="model.password" />
                    </div>
                    <div class="input-group col-xs-12 bottom-gap">
                        <span class="input-group-addon addon-width-4 " style="width:95px; text-align:right;">状态：</span>
                        <input class="form-control validator ng-pristine ng-invalid ng-invalid-required" validator="specialChar" id="txtMobile" description="状态" type="text" ng-model="model.status" />
                    </div>
                    <div class="input-group col-xs-12">
                        <img id="logoImg" style="display:none; max-width:500px; max-height:500px;">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary  col-xs-offset-6" id="btnSave" type="button" ng-click="save()">保存</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>
<div id="user" onselectstart="return false" class="ng-scope">
    <div class="well well-sm">
        <div class="container fixed-width">
            <button type="button" class="btn btn-primary" id="btnCreate" show-modal save-type="create" target-modal="#modalCreate">
                <span class="glyphicon glyphicon-trash"></span> 添加
            </button>
            <button type="button" class="btn btn-default gap" id="btnRemove" ng-click="removeBatch(this, $event.target)">
                <span class="glyphicon glyphicon-trash"></span> 删除
            </button>
            <div class="col-xs-6 col-md-3 input-group pull-right searchPanel">
                <input type="text" class="form-control" id="searchInput" placeholder="请输入名称" ng-model='pageCondition.keyword'/>
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-default" id="searchBtn" ng-click="search($event.target)">搜索</button>
                </span>
            </div>
        </div>
    </div>
    <div class="container fixed-width">
        <h3 class="pageInfo"><img src="/images/header.png" class="circlePic">&nbsp;用户</h3>
        <div class="panel panel-default">
            <table class="table table-striped" style="table-layout:fixed;word-wrap:break-word;" id="tblUses">
                <thead class="thead-color">
                    <tr>
                        <th style="width:30px">
                            <input type='checkbox' class='checkbox' chk-item chk-type='all'  />
                        </th>
                        <th class="col-xs-2" style="cursor:pointer" ng-click="orderColumn='age'; orderMode=!orderMode">
                            名称
                        </th>
                        <th class="col-xs-2" style="cursor:pointer" ng-click="orderColumn='created_at'; orderMode=!orderMode">
                            密码
                        </th>
                        <th class="col-xs-2" style="cursor:pointer" ng-click="orderColumn='updated_at'; orderMode=!orderMode">
                            状态
                        </th>
                        <th class="col-xs-3">操作</th>
                    </tr>
                </thead>
                <tbody class="userList" id="userList" style="display:none">
                    <tr ng-repeat="model in models">
                        <td style="width: 30px">
                            <input type="checkbox" chk-item class='checkbox' data-id='{{model.id}}' value='{{model.id}}' ng-model='model.selStatus' />
                        </td>
                        <td class="col-xs-2" ng-bind="model.userName"></td>
                        <td class="col-xs-2" ng-bind="model.password"></td>
                        <td class="col-xs-2" ng-bind="model.status"></td>
                        <td class="col-xs-3">
                            <a class="gap" href="javascript:void(0)" ng-click="remove(this, $target.event)" id="{{model.id}}">删除</a>
                            <a href="javascript:void(0)" show-modal save-type="update" target-modal="#modalCreate">编辑</a>
                            <a href="/article/v?uid={{model.id}}" >写文章</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="page_y" id="pager" pager target-ele='#userList'></div>
    </div>
</div>
